<web-app>
<welcome-file-list>
<welcome-file>homepage.html</welcome-file>
</welcome-file-list>
<servlet>
<servlet-name>addbooks</servlet-name>
<servlet-class>AddBooks</servlet-class>
</servlet>
<servlet>
<servlet-name>books</servlet-name>
<servlet-class>Books</servlet-class>
</servlet>
<servlet>
<servlet-name>members</servlet-name>
<servlet-class>AddMembers</servlet-class>
</servlet>
<servlet>
<servlet-name>members1</servlet-name>
<servlet-class>Members</servlet-class>
</servlet>
<servlet>
<servlet-name>returning</servlet-name>
<servlet-class>Returning</servlet-class>
</servlet>
<servlet>
<servlet-name>lending</servlet-name>
<servlet-class>Lending</servlet-class>
</servlet>
<servlet>
<servlet-name>seraching</servlet-name>
<servlet-class>SearchServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>addbooks</servlet-name>
<url-pattern>/books</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>books</servlet-name>
<url-pattern>/getbooks</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>members</servlet-name>
<url-pattern>/mem</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>members1</servlet-name>
<url-pattern>/getmembers</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>returning</servlet-name>
<url-pattern>/return</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>lending</servlet-name>
<url-pattern>/lend</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>searching</servlet-name>
<url-pattern>/search</url-pattern>
</servlet-mapping>
</web-app>